.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height:100%;
}

.box {
  margin: auto auto;
  width: 600px;
  height: 600px;
  background-color: rgba(0, 121, 202, 0.801);
  border: 4px solid rgba(0, 92, 153, 0.801);
}

.heading {
  text-align: center;
  color: white;
}

hr {
  color: rgba(0, 92, 153, 0.801);
  border: 2px solid rgba(0, 92, 153, 0.801);
}

.mainText {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#editor {
  width: 90%;
  height: 70%;
  margin-top: 20px;
  background-color: rgba(0, 103, 151, 0.801);
  text-align: center;
}